# Local environment variables, could contain secrets
.env.local

# JetBrains IDEs, WebStorm for example
.idea/

# Other various items relating to Node, Yarn & NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
/.next/
/out/
/build

# macOS Finder settings files
.DS_Store

