a {
    color: #cf1717;
}

a:hover {
    color: #820e0e;
}

.red-theme {
    color: #cf1717;
}

.heading {
    padding-top: 7rem;
    padding-bottom: 3rem;
}

.projects {
    padding-top: 7rem;
}

.features-icons {
    padding-top: 0;
}