a {
    color: #cf1717;
}

a:hover {
    color: #820e0e;
}

.red-theme {
    color: #cf1717;
}

.heading {
    padding-top: 7rem;
    padding-bottom: 3rem;
}

.projects {
    padding-top: 7rem;
}

.features-icons {
    padding-top: 0;
}

/* Overwrite theme, icons should not grow bigger on hover if they can't be interacted with. */
.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 4.5rem;
}